{% extends "template.html" %}
{% load staticfiles %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="title"><span>Контакты</span></div>
                    <h4>Мы всегда рады ответить на Ваши вопросы</h4>
                    <ul class="list-unstyled">
                        <li style="margin-bottom: 10px"><b><i class="fa fa-phone"></i> Москва:</b> <a href="tel:+74956499819">+7 (495) 649-98-19</a></li>
                        <li style="margin-bottom: 10px"><b><i class="fa fa-phone"></i> Бесплатная линия:</b> <a href="tel:{{ parameters.phone }}">{{ parameters.phone }}</a></li>
                        <li><b><i class="fa fa-envelope"></i> Почта:</b> <a href="mailto:{{ parameters.email }}">{{ parameters.email }}</a></li>
                    </ul>
                    <hr>
                    <h4>Часы работы наших специалистов</h4>
                    <b>Понедельник – Пятница</b> — с 10 до 18<br>
                    <b>Суббота, воскресенье</b> — Выходные
                    <hr>
                    <h4>Заказы через сайт принимаются круглосуточно.</h4>
                </div>
                <div class="col-md-6">
                    <div class="title"><span>Задайте нам вопрос</span></div>

                    <div id="feedback">
                        <form id="frm-feedback">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Ваше имя</label>
                                    <input type="text" class="form-control" id="name" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="email">Ваш E-mail</label>
                                    <input type="email" class="form-control" id="email" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="message">Сообщение</label>
                                    <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"></textarea>
                                </div>
                            </div>
                            <button class="btn btn-theme btn-lg" id="btn-send">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#frm-feedback').on('submit', function() {
                return false;
            });
            $('#btn-send').on('click', function() {
                $(this).prop('disabled', true);
                $(this).text('Подождите...');
                $.post('/message', {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    message: $('#message').val()
                }, function(res) {
                    if (!res.err) {
                        $('#feedback').html('Спасибо что написаои нам! Мы обязательно Вам ответим.');
                    } else {
                        alert('Произошла ошибка на сервере.');
                        $(this).prop('disabled', false);
                        $(this).text('Отправить');
                    }
                });
            });
        });
    </script>
{% endblock %}