{% extends "template.html" %}
{% load staticfiles %}

{% block title %}Доставка{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="title"><span>Доставка по всей России</span></div>

                    Мы осуществляем доставку композитного материала через транспортные компании «<a href="http://pecom.ru/" target="_blank">ПЭК</a>» и «<a href="http://dellin.ru/" target="_blank">Деловые Линии</a>».<br>
                    Стоимость доставки расчитывается при согласовании и оформлении заказа.<br>
                    Отгрузка осуществляется при 100% предоплате.<br>
                    Товар можно забрать самовывозом с нашего склада в г.Балашиха или оформить доставку самостоятельно через другую транспортную компанию.<br>
                    Также возможно оперативное приобретение композитного материала со складов наших филиалов. В зависимости от удаленности филиала от Москвы дополнительно расчитывается наценка за филиальную логистику.<br><br>

                    Филиалы в других городах:<br>
                    <ul style="margin-left: 25px;">
                        <li>Санкт-Петербург</li>
                        <li>Нижний Новгород</li>
                        <li>Краснодар</li>
                        <li>Красноярск</li>
                        <li>Казань</li>
                        <li>Грозный</li>
                        <li>Махачкала</li>
                    </ul>
                </div>
            </div><br><br>

            <div class="row">
                <div class="col-md-12">
                    <div class="title"><span>Условия транспортировки</span></div>

                    <p>
                        Наши специалисты всегда готовы рассчитать стоимость доставки, страхования и услуг по упаковке груза.
                    </p>
                    <br>
                    <p>
                        Заказчику сообщается дата отгрузки заказа в транспортную компанию, номер накладной, ориентировочная дата прибытия.<br>
                        Информацию о статусе доставки можно посмотреть на сайте компании, через которую отправлен заказ.<br>
                        Транспортная компания свяжется с Вами для информирования о доставке груза.<br>
                    </p>
                    <hr>
                    <p align="center">
                        <a href="http://pecom.ru/" target="_blank"><img src="{% static "img/pek.gif" %}" style="padding-right:20px"></a>
                        <a href="http://dellin.ru/" target="_blank"><img src="{% static "img/dellin.gif" %}"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}