{% extends "template.html" %}
{% load staticfiles %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="home-slider">
                {% for item in images %}
                <div class="item">
                    <img src="static/media/{{ item.image }}" alt="{{ item.name }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="title"><span>Композитные панели</span></div>
                    <p>
                        <b>Алюминиевая композитная панель АКП и биметаллическая композитная панель БКП</b> - строительный облицовочный композитный материал, который применяется для облицовки в системах навесных вентилируемых фасадов зданий. АКП также применяются для отделки, оформления интерьеров, для производства рекламных конструкций, наружной рекламы, а также в создании малых архитектурных форм. 
                        Композитный материал поставляется в виде панелей стандартных размеров и цветов. 
                        Допускается изготовление панелей других размеров и практически любых цветов по согласованию с заказчиком. 
                    </p>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="title"><span>Торговые марки</span></div>
                </div>
                {% for composite in composites %}
                <div class="col-md-6 box-outer">
                    <img src="/static/media/{{ composite.logo }}" alt="{{ composite.name }}">
                    <br><br>
                    <p>{{ composite.short_description|safe }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/carousel.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            var owl = $('.home-slider');
            owl.owlCarousel({
                items: 1,
                autoplay: true,
                autoplayHoverPause: true,
                dots: false,
                navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
                loop: owl.children().length > 1,
                nav: owl.children().length > 1
            });
        });
    </script>
{% endblock %}
