{% extends "template.html" %}
{% load staticfiles %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="home-slider">
                {% for item in images %}
                <div class="item">
                    <img src="static/media/{{ item.image }}" alt="{{ item.name }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="title"><span>Композитные панели</span></div>
                    <p>
                        <b>алюминиевая композитная панель АКП и биметаллическая композитная панель БКП</b> - строительный облицовочный композитный материал, который применяется для облицовки в системах навесных вентилируемых фасадов зданий. АКП также применяются для отделки, оформления интерьеров, для производства рекламных конструкций, наружной рекламы, а также в создании малых архитектурных форм. 
                        Композитный материал поставляется в виде панелей стандартных размеров и цветов. 
                        Допускается изготовление панелей других размеров и практически любых цветов по согласованию с заказчиком. 
                    </p>
                </div>
            </div><br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="title"><span>Торговые марки</span></div>
                </div>
                <div class="col-md-6 box-outer">
                    <img src="{% static "img/altec.png" %}" alt="altec">
                    <br><br>
                    <p>
                        АКП состоит из двух тонких (0,2-0,5 мм) алюминиевых пластин, между которыми находится минеральный или пластиковый наполнитель. Такая структура придает материалу легкость, особую прочность и жесткость, упругость и высокую стойкость к излому. Лакокрасочное покрытие и химическая обработка поверхности придают панелям идеальную гладкость, ровность, устойчивость к низким (от -50°С) и высоким температурам (до +80°С), и антикоррозийные свойства.
                    </p>
                </div>
                <div class="col-md-6 box-outer">
                    <img src="{% static "img/stalex.png" %}" alt="stalex">
                    <br><br>
                    <p>
                        БКП состоит из двух тонких (0,4 мм) алюминиевых пластин, между которыми присутствует стальная сетка, расположенная во внешней поверхности центрального слоя, под лицевой пластиной алюминия. При производстве панелей, стальная сетка изолируется от алюминиевой пластины слоем полимера, исключающим образование коррозионных процессов. STALEX сохранил все плюсы алюмокомпозитных панелей, сертифицирован на применение вокруг  оконных проемов без установки внутренней отсечки, что удешевляет стоимость обрамления. При  огневой нагрузке на панели STALEX, в случае отгорания внешнего слоя алюминия, на пути пламени встает мелкоячеистая сетка из стали, которая полностью исключает выпадение фрагментов центрального слоя.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "js/carousel.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            var owl = $('.home-slider');
            owl.owlCarousel({
                items: 1,
                autoplay: true,
                autoplayHoverPause: true,
                dots: false,
                navText: ['<i class="fa fa-angle-left"></i>','<i class="fa fa-angle-right"></i>'],
                loop: owl.children().length > 1,
                nav: owl.children().length > 1
            });
        });
    </script>
{% endblock %}
