{% extends "template.html" %}
{% load staticfiles %}

{% block title %}Заказ{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="row">
				<div class="col-md-4">
					<div class="title"><span>Цвет</span></div>

				</div>
				<div class="col-md-8">
					<div class="title-detail">{{ composite.name }}</div>
	                <table class="table table-detail">
	                    <tbody>
	                    	<tr>
	                    		<td>Применение</td>
	                    		<td>{{ composite.application|safe }}</td>
	                    	</tr>
	                        <tr>
	                            <td>Площадь</td>
	                            <td>
	                            	<div class="input-group" style="width: 100px;">
		                                <input type="text" class="form-control">
		                                <span class="input-group-addon">м&sup2;</span>
	                            	</div>
	                            </td>
	                        </tr>
	                        <tr>
	                            <td></td>
	                            <td>
	                                <button class="btn btn-theme" id="product-add" type="button"><i class="fa fa-shopping-cart"></i> Добавить в корзину</button>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
				</div>
            </div>
        </div>
    </div>
{% endblock %}