{% extends "template.html" %}
{% load staticfiles %}

{% block title %}Продукция{% endblock %}

{% block content %}
    <div class="container">
        <div class="content">
            <div class="row">
                {% for composite in composites %}
                <div class="col-md-6">
                    <div class="title"><span>{{ composite.name }}</span></div>
                    {{ composite.full_description|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}